header{
    // position: fixed;
    // top: 0px;
    // height: 60px;
    background-color: red;
}
.content{
    // position: absolute;
    // height: 610px;
    background-color: greenyellow;
}
footer{
    // position: fixed;
    // bottom: 0px;
    // height: 50px;
    background-color: cyan;
}